body {
background: rgb(175, 224, 241);
font-family: "Times New Roman", Times, serif;
}
h1 {
color: rgb(252, 160, 160);
text-align: center;
}
.projects { 
    display:flex;
    flex-wrap:wrap;
 } 
.prjects h2 {
    color:rgb(154, 132, 198) ;
    width:100%;
}
    /* condensed to save space */
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: rgb(152, 218, 141); /* pick a color */
    border-radius: 25%;
}

.project h3 {
    /* pull the h3 text away from the left blob wall */
    margin-left: 50px;
}
.project img {
    /* adjust your image sizes as needed */
    width: 400px;
    height: 300px;
    margin: 10px auto;
    border: 2px solid lightseagreen;
    display: block;
    /* center the images inside the blobs */
    text-align: center;
}
.project p {
    /* center the p text in the blob */
    text-align: center;
    margin: 15px;
}


/*a{ /* Change apparence of ALL links*/
    /* text-decoration: none;
    color:burlywood;
} 

